@if (isAddTask)
{
    <app-new-task [userId] = "userId" (canceled)="onAddTaskCanceled()"></app-new-task>/>
}
<section>
    <header>
        <h2>
            {{name}}'s Tasks
        </h2>
        <menu>
            <button (click)="onAddTask()">
                Add Task
            </button>
        </menu>
    </header>
    <ul>
        @for (task of selectedUserTasks; track task.id) {
            <li>
                <app-task [task]="task" (completed)="onTaskCompleted($event)" ></app-task>
            </li>
        }       
    </ul>
</section>
